---
layout: layouts/main.njk
title: sarka bohacova
---

<header class="header">
        
    <a class="header__logo-home" href="/"><img class="header__logo" src="/images/" alt="logo ŠB"></a>
    
    <nav class="menu">

        <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
        <label for="menu-checkbox" class="menu__toggler">☰</label>

        <ul class="menu__list">
            <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'home' }}"><a class="menu__link" href="/home/">home</a></li>
            <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'portfolio' }}"><a class="menu__link" href="/portfolio/">portfolio</a></li>
            <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'about' }}"><a class="menu__link" href="/about/">o mně</a></li>
            <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'kontakt' }}"><a class="menu__link" href="/kontakt/">kontakt</a></li>
        </ul>
    </nav>
</header>

{{ content | safe }}

<footer class="footer">

    <a href="www.facebook.com" target="_blank" class="fa-brands fa-facebook-f"></a>

    <a href="www.instagram.com" target="_blank" class="fa-brands fa-instagram"></a><br>


    <span class="footer__title"><strong>Lesní mateřská škola Kopretina</strong></span><br>
    <span class="footer__street">Na louce 252</span>
    <span class="footer__town">Rejštejn, 30261</span><br>
    <span class="footer__mail"><a href="mailto:kopretina@kopretina.cz">kopretina@kopretina.cz</a></span>
    <span class="footer__phone">+420 712 345 678</span><br>
    <p class="footer__copy">&copy; Šárka Boháčová, Czechitas</p>

    <div class="divider divider--footer">
    <img class="divider__img" src="/images/three_daisies_yellow.svg" alt="three daisies icon">
    </div>

</footer>